input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.get{
    background-color: rgb(243, 243, 243);
    border: solid #DEE2E6 1px;
}

.get:hover{
    color: rgb(121, 1, 1) !important;
    background-color: #c5c5c5 !important;
    border: solid black 1px;

}

.resultRow{
    animation-name: pop-in;
    animation-duration: 0.5s;
}
@keyframes pop-in {
    0% {scale: 1.1;}
    100%{scale:1}   
}

.input-group-text{
    padding: 1px;
    background-color: white;
    font-weight: bolder;
}

#clearButton{
    background-color: white;
    color: rgb(159, 159, 159);
}


#clearButton:hover{
    background-color: white;
    color: rgb(121, 1, 1);
    
}

#remove{
    background-color: white;
    border: solid #DEE2E6 1px;
}
#remove:hover{
    background-color: #DEE2E6;
}





/* .title{
    background-image: url(./Images/track.png) ;
} */