input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

i{
    color: whitesmoke;
    scale: 2;
}
/* footer{
    position: sticky;
} */

.overallBG{
    background-color: #f8f8f8;
}
.dark-mode{
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
}

.dark-mode #header{
    background: rgb(40, 45, 47) !important;
}

.dark-mode #header2{
    background: rgb(42, 44, 44) !important;
}

.dark-mode .card{
    border: solid rgba(32, 32, 32, 0) 0px;
}

.dark-mode .card-body{
    background: rgb(58, 58, 58);
    border: #040303;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}

.dark-mode .form-control{
    background-color: #616161;
    border: #040303;
    color: whitesmoke;
}
.dark-mode .input-group-text{
    background-color: #616161;
    border: #040303;
    color: whitesmoke;
}

.dark-mode table{
    color: whitesmoke;
}

.dark-mode #remove{
    background-color: #4f4f4f;
    border: solid black 0px;
}

.dark-mode #remove:hover{
    background-color: rgb(95, 95, 95);
    border: solid black 0px;
}


.dark-mode .get{
    background-color: rgb(79, 79, 79) !important;
    border: solid #DEE2E6 0px;
    color: whitesmoke;
}

.dark-mode .get:hover{
    color: gainsboro !important;
    background-color: rgb(95, 95, 95) !important;
    border: solid black 0px;

}



/* .card-body{
    background-color: #fbfff2;
} */

.form-label{
    font-weight: bold;
}

.nav-link.text-light:hover{
    color: #F7DD04 !important;
}

.form-control{
    padding-right: 5px;
    padding-left: 5px;
}


.get{
    background-color: rgb(243, 243, 243);
    border: solid #DEE2E6 1px;
}

.get:hover{
    color:#868686 !important;
    background-color: #d5d5d5 !important;
    border: solid black 1px;

}

.resultRow{
    animation-name: pop-in;
    animation-duration: 0.5s;
}
@keyframes pop-in {
    0% {scale: 1.1;}
    100%{scale:1}   
}

.input-group-text{
    padding: 1px;
    background-color: white;
    font-weight: bolder;
}
#header{
    background-color: #4f4f4f;
}

#header2{
    background-color: #868686;
}

#clearButton{
    background-color: white;
    color: #545454;
}


#clearButton:hover{
    color: whitesmoke;
    
}

#remove{
    background-color: white;
    border: solid #DEE2E6 1px;
}
#remove:hover{
    background-color: #DEE2E6;
}
#darkToggle{
    position: fixed;
    right: 2rem;
}

#flexSwitchCheck{
    background-color: rgb(104, 104, 104);
}

#modeToggle{
    background-color: transparent;
    border: none;
}





/* .title{
    background-image: url(./Images/track.png) ;
} */